<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TabApp">

        <!--
            screenOrientation 을 지정하지 않아 가로/세로 모두 지원합니다.
            화면 상태는 ViewModel / rememberSaveable 로 보존되므로 회전해도 입력값이 유지됩니다.
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.TabApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
